{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Akpager - Multipurpose Landing page HTML Template || Home Nine</title>
    <link rel="shortcut icon" href="{% static 'landing_page/assets/images/logos/favicon.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Work+Sans:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'landing_page/assets/css/flaticon.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing_page/assets/css/fontawesome-5.14.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing_page/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing_page/assets/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing_page/assets/css/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing_page/assets/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'landing_page/assets/css/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing_page/assets/css/style.css' %}">
</head>
<body class="home-nine">
<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"><div class="custom-loader"></div></div>

    <!-- main header -->
    <header class="main-header menu-absolute no-border">
        <div class="header-upper">
            <div class="container container-1660 clearfix">
                <div class="header-inner py-20 rel d-flex align-items-center">
                    <div class="logo-outer">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{% static 'landing_page/assets/images/logos/logo6.png' %}" alt="Logo" title="Logo">
                            </a>
                        </div>
                    </div>

                    <div class="nav-outer ms-lg-5 ps-lg-5 clearfix">
                        <nav class="main-menu navbar-expand-lg">
                            <div class="navbar-header py-10">
                                <div class="mobile-logo">
                                    <a href="index.html">
                                        <img src="{% static 'landing_page/assets/images/logos/logo6.png' %}" alt="Logo" title="Logo">
                                    </a>
                                </div>
                                <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                                    <span class="icon-bar bg-dark"></span>
                                    <span class="icon-bar bg-dark"></span>
                                    <span class="icon-bar bg-dark"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation onepage clearfix">
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#services">services</a></li>
                                    <li><a href="#about">about</a></li>
                                    <li><a href="#featuers">featuers</a></li>
                                    <li><a href="#pricing">pricing</a></li>
                                    <li><a href="#testimonials">testimonials</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <div class="nav-search ms-xl-2 ms-4 me-lg-auto py-10">
                        <button class="far fa-search"></button>
                        <form action="#" class="hide">
                            <input type="text" placeholder="Search" class="searchbox" required="">
                            <button type="submit" class="searchbutton far fa-search"></button>
                        </form>
                    </div>

                    <div class="menu-btns ms-lg-auto">
                        <a href="cantact.html" class="light-btn">Sign Up</a>
                        <a href="contact.html" class="theme-btn style-two">Get Started <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Hero area start -->
    <section id="about" class="hero-area-nine pt-165 rpt-150 pb-130 rpb-100 rel z-1">
        <div class="container">
            <div class="row gap-70 align-items-center">
                <div class="col-lg-6">
                    <div class="hero-content style-nine mb-100 rmb-55" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                        <h1 data-aos="fade-up" data-aos-delay="50" data-aos-duration="1500" data-aos-offset="50">Connectivity & Networking with AI Power Chatbot</h1>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem laudantium, totam rem aperiam inventore veritatis</p>
                        <form class="newsletter-form mt-40" action="#">
                            <label for="email-address"><i class="fas fa-envelope"></i></label>
                            <input id="email-address" type="email" placeholder="Email Address" required="">
                            <button type="submit"><b>Free Trail <i class="far fa-arrow-right"></i></b></button>
                        </form>
                        <ul class="icon-list pt-15">
                            <li><i class="fal fa-check"></i> Free 14-day trial</li>
                            <li><i class="fal fa-check"></i> No credit card required</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                    <div class="hero-nine-image">
                        <img src="{% static 'landing_page/assets/images/hero/hero-nine.png' %}" alt="Hero">
                        <div class="shapes">
                            <div class="shape one" data-aos="zoom-in-left" data-aos-duration="1500" data-aos-offset="50">
                                <img src="{% static 'landing_page/assets/images/shapes/hero-nine1.png' %}" alt="Shape">
                            </div>
                            <div class="shape two" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-offset="50">
                                <img src="{% static 'landing_page/assets/images/shapes/hero-nine2.png' %}" alt="Shape">
                            </div>
                            <div class="shape three" data-aos="zoom-in-left" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                                <img src="{% static 'landing_page/assets/images/shapes/hero-nine3.png' %}" alt="Shape">
                            </div>
                            <div class="shape four" data-aos="zoom-in-right" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                                <img src="{% static 'landing_page/assets/images/shapes/hero-nine4.png' %}" alt="Shape">
                            </div>
                            <div class="shape five" data-aos="zoom-in-left" data-aos-delay="200" data-aos-duration="1500" data-aos-offset="50">
                                <img src="{% static 'landing_page/assets/images/shapes/hero-nine5.png' %}" alt="Shape">
                            </div>
                            <div class="shape six" data-aos="zoom-in-right" data-aos-delay="200" data-aos-duration="1500" data-aos-offset="50">
                                <img src="{% static 'landing_page/assets/images/shapes/hero-nine6.png' %}" alt="Shape">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-nine-shapes">
            <div class="shape one">
                <img src="{% static 'landing_page/assets/images/shapes/hero-nine.png' %}" alt="Shape">
            </div>
            <div class="shape two">
                <img src="{% static 'landing_page/assets/images/shapes/hero-nine.png' %}" alt="Shape">
            </div>
        </div>
    </section>
    <!-- Hero area End -->


    <!-- Client Logo Area Start -->
    <section class="client-logo-area pt-100 pb-90 rpb-60 rel z-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-11">
                    <div class="section-title text-center mb-60" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                        <span class="subtitle-three mb-10">Meet Our Global Clients</span>
                        <h2>We've 1253+ Global Clients & lot's of Project Complete</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2">
                <div class="col">
                    <div class="client-logo-item style-four py-45 rpy-25" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                        <a href="#"><img src="{% static 'landing_page/assets/images/client-logos/client-logo1.png' %}" alt="Client Logo"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="client-logo-item style-four py-65 rpy-25" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1500" data-aos-offset="50">
                        <a href="#"><img src="{% static 'landing_page/assets/images/client-logos/client-logo2.png' %}" alt="Client Logo"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="client-logo-item style-four py-45 rpy-25" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                        <a href="#"><img src="{% static 'landing_page/assets/images/client-logos/client-logo3.png' %}" alt="Client Logo"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="client-logo-item style-four py-65 rpy-25" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1500" data-aos-offset="50">
                        <a href="#"><img src="{% static 'landing_page/assets/images/client-logos/client-logo4.png' %}" alt="Client Logo"></a>
                    </div>
                </div>
                <div class="col">
                    <div class="client-logo-item style-four py-45 rpy-25" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500" data-aos-offset="50">
                        <a href="#"><img src="{% static 'landing_page/assets/images/client-logos/client-logo5.png' %}" alt="Client Logo"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Client Logo Area End -->


    <!-- Tab Area Start -->
    <section class="advanced-tab-area pb-130 rpb-100">
        <div class="container">
            <ul class="nav advanced-tab mb-55" role="tablist" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                <li>
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabOne1"><i class="far fa-arrow-right"></i> Lead Generation</button>
                </li>
                <li>
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tabOne2"><i class="far fa-arrow-right"></i> Customer Support</button>
                </li>
                <li>
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabOne3"><i class="far fa-arrow-right"></i> Revenue Growth</button>
                </li>
                <li>
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabOne4"><i class="far fa-arrow-right"></i> Sales & eCommerce</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade" id="tabOne1">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <div class="content rmb-55">
                                <div class="section-title mb-30">
                                    <h2>Dedicated Customer Support Your Satisfaction Our Priority</h2>
                                </div>
                                <p>AI chatbots are revolutionizing the way businesses interact with their customers. These intelligent digital assistants are designed to provide instant, round-the-clock support, answering queries and resolving issues with efficiency and accuracy. By leveraging natural language processing and machine learning,</p>
                                <ul class="icon-list mt-20 mb-40">
                                    <li><i class="fal fa-check"></i> Get AI Power Chat Files</li>
                                    <li><i class="fal fa-check"></i> Connect Securely</li>
                                    <li><i class="fal fa-check"></i> Message Experience</li>
                                </ul>
                                <a href="#" class="theme-btn style-two">Learn More <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6">
                            <div class="image">
                                <img src="{% static 'landing_page/assets/images/tabs/tab1.png' %}" alt="Tab">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="tabOne2">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-5 col-lg-6">
                            <div class="image" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="50">
                                <img src="{% static 'landing_page/assets/images/tabs/tab1.png' %}" alt="Tab">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content rmt-55" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">
                                <div class="section-title mb-30">
                                    <h2>Dedicated Customer Support Your Satisfaction Our Priority</h2>
                                </div>
                                <p>AI chatbots are revolutionizing the way businesses interact with their customers. These intelligent digital assistants are designed to provide instant, round-the-clock support, answering queries and resolving issues with efficiency and accuracy. By leveraging natural language processing and machine learning,</p>
                                <ul class="icon-list mt-20 mb-40">
                                    <li><i class="fal fa-check"></i> Get AI Power Chat Files</li>
                                    <li><i class="fal fa-check"></i> Connect Securely</li>
                                    <li><i class="fal fa-check"></i> Message Experience</li>
                                </ul>
                                <a href="#" class="theme-btn style-two">Learn More <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabOne3">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <div class="content rmb-55">
                                <div class="section-title mb-30">
                                    <h2>Dedicated Customer Support Your Satisfaction Our Priority</h2>
                                </div>
                                <p>AI chatbots are revolutionizing the way businesses interact with their customers. These intelligent digital assistants are designed to provide instant, round-the-clock support, answering queries and resolving issues with efficiency and accuracy. By leveraging natural language processing and machine learning,</p>
                                <ul class="icon-list mt-20 mb-40">
                                    <li><i class="fal fa-check"></i> Get AI Power Chat Files</li>
                                    <li><i class="fal fa-check"></i> Connect Securely</li>
                                    <li><i class="fal fa-check"></i> Message Experience</li>
                                </ul>
                                <a href="#" class="theme-btn style-two">Learn More <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6">
                            <div class="image">
                                <img src="{% static 'landing_page/assets/images/tabs/tab1.png' %}" alt="Tab">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tabOne4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-5 col-lg-6">
                            <div class="image">
                                <img src="{% static 'landing_page/assets/images/tabs/tab1.png' %}" alt="Tab">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content rmt-55">
                                <div class="section-title mb-30">
                                    <h2>Dedicated Customer Support Your Satisfaction Our Priority</h2>
                                </div>
                                <p>AI chatbots are revolutionizing the way businesses interact with their customers. These intelligent digital assistants are designed to provide instant, round-the-clock support, answering queries and resolving issues with efficiency and accuracy. By leveraging natural language processing and machine learning,</p>
                                <ul class="icon-list mt-20 mb-40">
                                    <li><i class="fal fa-check"></i> Get AI Power Chat Files</li>
                                    <li><i class="fal fa-check"></i> Connect Securely</li>
                                    <li><i class="fal fa-check"></i> Message Experience</li>
                                </ul>
                                <a href="#" class="theme-btn style-two">Learn More <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tab Area End -->


    <!-- Services Area Start -->
    <section id="services" class="service-area-nine bgc-black pt-130 rpt-100 pb-100 rpb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-11">
                    <div class="section-title text-center text-white mb-55" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                        <h2>Unlocking the Power of Chatbot Capabilities Enhancing Customer Engagement</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="iconic-box style-three" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                        <div class="icon">
                            <img src="{% static 'landing_page/assets/images/icons/iconic-box1.png' %}" alt="Icon">
                        </div>
                        <div class="content">
                            <h5><a href="service-details.html">Automate response</a></h5>
                            <p>The intelligent digital stants are designed provid instant round-the-clock support</p>
                        </div>
                        <div class="bg">
                            <img src="{% static 'landing_page/assets/images/shapes/iconic-box-three-bg.png' %}" alt="Shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="iconic-box style-three" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1500" data-aos-offset="50">
                        <div class="icon">
                            <img src="{% static 'landing_page/assets/images/icons/iconic-box2.png' %}" alt="Icon">
                        </div>
                        <div class="content">
                            <h5><a href="service-details.html">Artificial intelligence</a></h5>
                            <p>The intelligent digital stants are designed provid instant round-the-clock support</p>
                        </div>
                        <div class="bg">
                            <img src="{% static 'landing_page/assets/images/shapes/iconic-box-three-bg.png' %}" alt="Shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="iconic-box style-three" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                        <div class="icon">
                            <img src="{% static 'landing_page/assets/images/icons/iconic-box3.png' %}" alt="Icon">
                        </div>
                        <div class="content">
                            <h5><a href="service-details.html">Mobile & Web Chat</a></h5>
                            <p>The intelligent digital stants are designed provid instant round-the-clock support</p>
                        </div>
                        <div class="bg">
                            <img src="{% static 'landing_page/assets/images/shapes/iconic-box-three-bg.png' %}" alt="Shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="iconic-box style-three" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1500" data-aos-offset="50">
                        <div class="icon">
                            <img src="{% static 'landing_page/assets/images/icons/iconic-box4.png' %}" alt="Icon">
                        </div>
                        <div class="content">
                            <h5><a href="service-details.html">Sales & Marketing</a></h5>
                            <p>The intelligent digital stants are designed provid instant round-the-clock support</p>
                        </div>
                        <div class="bg">
                            <img src="{% static 'landing_page/assets/images/shapes/iconic-box-three-bg.png' %}" alt="Shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Area End -->


    <!-- About Area Start -->
    <section id="about" class="about-area-nine bgc-black pb-110 rpb-80 rel z-1">
        <div class="container">
            <div class="row gap-90 align-items-center">
                <div class="col-lg-6">
                    <div class="about-content-nine text-white rmb-35" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">
                        <div class="section-title mb-30">
                            <h2>Discover Comprehensive Chatbot Features for Customer Engagement</h2>
                        </div>
                        <p>Chatbots offer a diverse range of features designed to enhance user interactions and streamline customer support.</p>
                        <div class="feature-icon-box mt-35">
                            <div class="icon"><i class="far fa-check"></i></div>
                            <div class="content">
                                <h5>Onboarding, conversion & messages.</h5>
                                <p>Tasks, such as answering frequently asked questions or processing routine transactions</p>
                            </div>
                        </div>
                        <div class="feature-icon-box">
                            <div class="icon"><i class="far fa-check"></i></div>
                            <div class="content">
                                <h5>Send messages to targeted audiences</h5>
                                <p>Tasks, such as answering frequently asked questions or processing routine transactions</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-nine-right-images mb-20 text-lg-end" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="50">
                        <img src="{% static 'landing_page/assets/images/about/about-nine.png' %}" alt="About">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->


    <!-- Feature Image box Area Start -->
    <section id="features" class="feature-image-box-area pt-130 rpt-100 pb-100 rpb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-11">
                    <div class="section-title text-center mb-55" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                        <h2>Unlocking the Potential Chatbot for Seamless Customer Interactions</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6">
                    <div class="feature-image-box style-two" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                        <img src="{% static 'landing_page/assets/images/fancy-box/feature-image-box1.png' %}" alt="Feature">
                        <div class="content">
                            <h4><a href="service-details.html">Comprehensive Chatbot Features Revolutionizing Customer Engagement</a></h4>
                            <ul class="icon-list">
                                <li><i class="fal fa-check"></i> Get AI Power Chat Files</li>
                                <li><i class="fal fa-check"></i> Message Experience</li>
                                <li><i class="fal fa-check"></i> Connect Securely</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="feature-image-box style-two" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                        <img src="{% static 'landing_page/assets/images/fancy-box/feature-image-box2.png' %}" alt="Feature">
                        <div class="content">
                            <h4><a href="service-details.html">Mastering Chatbot Feature Elevate Customer Service & Efficiency</a></h4>
                            <ul class="icon-list">
                                <li><i class="fal fa-check"></i> Get AI Power Chat Files</li>
                                <li><i class="fal fa-check"></i> Message Experience</li>
                                <li><i class="fal fa-check"></i> Connect Securely</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="feature-image-box style-two" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500" data-aos-offset="50">
                        <img src="{% static 'landing_page/assets/images/fancy-box/feature-image-box3.png' %}" alt="Feature">
                        <div class="content">
                            <h4><a href="service-details.html">Chatbot Features: Your Guide to Enhanced User Engagement</a></h4>
                            <ul class="icon-list">
                                <li><i class="fal fa-check"></i> Get AI Power Chat Files</li>
                                <li><i class="fal fa-check"></i> Message Experience</li>
                                <li><i class="fal fa-check"></i> Connect Securely</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Image box Area End -->


    <!-- Tooltip Area Start -->
    <section class="tooltip-area bgs-cover rel pt-130 rpt-100" style="background-image: url({% static 'landing_page/assets/images/backgrounds/tolltip.png' %});">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-11 mb-135 rmb-80 text-center" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                    <div class="section-title mb-35">
                        <h2>Connect Your Social Network and grow your social networking easily</h2>
                        <p>AI chatbots are revolutionizing the way businesses interact with their customers. These intelligent digital assistants are designed to provide instant, round-the-clock support, answering queries and resolving</p>
                    </div>
                    <a href="contact.html" class="theme-btn">Get Started Now <i class="far fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="tooltips-wrap">
                <div class="tooltip-item active">
                    <div class="tooltip-btn">
                        <img src="{% static 'landing_page/assets/images/tooltips/tooltip-icon1.png' %}" alt="Icon">
                    </div>
                    <div class="tooltip-content">
                        <div class="image"><img src="{% static 'landing_page/assets/images/tooltips/tooltip1.png' %}" alt="Tooltip"></div>
                    </div>
                </div>
                <div class="tooltip-item">
                    <div class="tooltip-btn">
                        <img src="{% static 'landing_page/assets/images/tooltips/tooltip-icon2.png' %}" alt="Icon">
                    </div>
                    <div class="tooltip-content">
                        <div class="image"><img src="{% static 'landing_page/assets/images/tooltips/tooltip2.png' %}" alt="Tooltip"></div>
                    </div>
                </div>
                <div class="tooltip-item">
                    <div class="tooltip-btn">
                        <img src="{% static 'landing_page/assets/images/tooltips/tooltip-icon3.png' %}" alt="Icon">
                    </div>
                    <div class="tooltip-content">
                        <div class="image"><img src="{% static 'landing_page/assets/images/tooltips/tooltip3.png' %}" alt="Tooltip"></div>
                    </div>
                </div>
                <div class="tooltip-item">
                    <div class="tooltip-btn">
                        <img src="{% static 'landing_page/assets/images/tooltips/tooltip-icon4.png' %}" alt="Icon">
                    </div>
                    <div class="tooltip-content">
                        <div class="image"><img src="{% static 'landing_page/assets/images/tooltips/tooltip4.png' %}" alt="Tooltip"></div>
                    </div>
                </div>
                <div class="tooltip-item">
                    <div class="tooltip-btn">
                        <img src="{% static 'landing_page/assets/images/tooltips/tooltip-icon5.png' %}" alt="Icon">
                    </div>
                    <div class="tooltip-content">
                        <div class="image"><img src="{% static 'landing_page/assets/images/tooltips/tooltip5.png' %}" alt="Tooltip"></div>
                    </div>
                </div>
                <div class="tooltip-item">
                    <div class="tooltip-btn">
                        <img src="{% static 'landing_page/assets/images/tooltips/tooltip-icon6.png' %}" alt="Icon">
                    </div>
                    <div class="tooltip-content">
                        <div class="image"><img src="{% static 'landing_page/assets/images/tooltips/tooltip6.png' %}" alt="Tooltip"></div>
                    </div>
                </div>
                <div class="tooltip-item">
                    <div class="tooltip-btn">
                        <img src="{% static 'landing_page/assets/images/tooltips/tooltip-icon7.png' %}" alt="Icon">
                    </div>
                    <div class="tooltip-content">
                        <div class="image"><img src="{% static 'landing_page/assets/images/tooltips/tooltip7.png' %}" alt="Tooltip"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tooltip Area End -->


    <!-- Pricing Area Start -->
    <section id="pricing" class="pricing-area bg-white pt-220 rpt-150 pb-100 rpb-70 rel">
        <div class="container">
            <div class="row justify-content-center justify-content-md-start">
                <div class="col-xl-4 col-md-8 col-sm-10">
                    <div class="price-left-tab mt-75 mb-55" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                        <div class="section-title mb-45">
                            <h2>Explore Our Pricing Package & choose plan</h2>
                        </div>
                        
                        <p>AI chatbots are revolutionizing the way businesses interact with their customers These intelligent digital assistants</p>
                        <a href="contact.html" class="theme-btn mt-25">Get Started <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="monthly">
                            <div class="row justify-content-center">
                                <div class="col-md-6 col-sm-10" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                                    <div class="pricing-item style-three">
                                        <div class="circle"><img src="{% static 'landing_page/assets/images/shapes/price-circle.png' %}" alt="Shape"></div>
                                        <div class="price"><span class="prev">$</span>19<span class="next">/month</span></div>
                                        <div class="text">Smart Pricing for good services</div>
                                        <a href="#" class="theme-btn">Choose Package <i class="far fa-arrow-right"></i></a>
                                        <h4 class="title">Regular Plan</h4>
                                        <ul class="list">
                                            <li>Email marketing</li>
                                            <li>Unlimited chat history</li>
                                            <li>Unlimited landing pages</li>
                                            <li class="hide">Automation templates</li>
                                            <li class="hide">Great Customer Support</li>
                                            <li class="hide">Unlimited lead funnels</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-10" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500" data-aos-offset="50">
                                    <div class="pricing-item style-three">
                                        <div class="circle"><img src="{% static 'landing_page/assets/images/shapes/price-circle.png' %}" alt="Shape"></div>
                                        <div class="price"><span class="prev">$</span>39<span class="next">/month</span></div>
                                        <div class="text">Smart Pricing for good services</div>
                                        <a href="#" class="theme-btn">Choose Package <i class="far fa-arrow-right"></i></a>
                                        <h4 class="title">Standard Plan</h4>
                                        <ul class="list">
                                            <li>Email marketing</li>
                                            <li>Unlimited chat history</li>
                                            <li>Unlimited landing pages</li>
                                            <li>Automation templates</li>
                                            <li>Great Customer Support</li>
                                            <li>Unlimited lead funnels</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="yearly">
                            <div class="row justify-content-center">
                                <div class="col-md-6 col-sm-10">
                                    <div class="pricing-item style-three">
                                        <div class="circle"><img src="{% static 'landing_page/assets/images/shapes/price-circle.png' %}" alt="Shape"></div>
                                        <div class="price"><span class="prev">$</span>79<span class="next">/yearly</span></div>
                                        <div class="text">Smart Pricing for good services</div>
                                        <a href="#" class="theme-btn">Choose Package <i class="far fa-arrow-right"></i></a>
                                        <h4 class="title">Regular Plan</h4>
                                        <ul class="list">
                                            <li>Email marketing</li>
                                            <li>Unlimited chat history</li>
                                            <li>Unlimited landing pages</li>
                                            <li class="hide">Automation templates</li>
                                            <li class="hide">Great Customer Support</li>
                                            <li class="hide">Unlimited lead funnels</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-10">
                                    <div class="pricing-item style-three">
                                        <div class="circle"><img src="{% static 'landing_page/assets/images/shapes/price-circle.png' %}" alt="Shape"></div>
                                        <div class="price"><span class="prev">$</span>99<span class="next">/yearly</span></div>
                                        <div class="text">Smart Pricing for good services</div>
                                        <a href="#" class="theme-btn">Choose Package <i class="far fa-arrow-right"></i></a>
                                        <h4 class="title">Standard Plan</h4>
                                        <ul class="list">
                                            <li>Email marketing</li>
                                            <li>Unlimited chat history</li>
                                            <li>Unlimited landing pages</li>
                                            <li>Automation templates</li>
                                            <li>Great Customer Support</li>
                                            <li>Unlimited lead funnels</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Area End -->


    <!-- Testimonials Area Start -->
    <section id="testimonials" class="testimonials-nine-area py-130 rpy-100 rel z-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 col-md-11">
                    <div class="section-title text-center mb-55" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1500" data-aos-offset="50">
                        <h2>1523+ Global Clients Say About Our Software</h2>
                    </div>
                </div>
            </div>
            <div class="testi-slider-three" data-aos="fade-in" data-aos-delay="50" data-aos-duration="1500" data-aos-offset="50">
                <div class="testimonial-item-two">
                    <div class="author">
                        <div class="image">
                            <img src="{% static 'landing_page/assets/images/testimonials/testi-author1.png' %}" alt="Author">
                        </div>
                        <div class="content">
                            <h6>Dennis J. Lester</h6>
                            <span>CEO & Founder</span>
                            <div class="ratting">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="author-text">Alignment refers to the practice of arranging visual elements on pages such as text, shapes, images, menu items, and CTA buttons foundation upon which designers gather</div>
                </div>
                <div class="testimonial-item-two">
                    <div class="author">
                        <div class="image">
                            <img src="{% static 'landing_page/assets/images/testimonials/testi-author2.png' %}" alt="Author">
                        </div>
                        <div class="content">
                            <h6>Rene A. Watkins</h6>
                            <span>Web Designer</span>
                            <div class="ratting">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="author-text">Alignment refers to the practice of arranging visual elements on pages such as text, shapes, images, menu items, and CTA buttons foundation upon which designers gather</div>
                </div>
                <div class="testimonial-item-two">
                    <div class="author">
                        <div class="image">
                            <img src="{% static 'landing_page/assets/images/testimonials/testi-author1.png' %}" alt="Author">
                        </div>
                        <div class="content">
                            <h6>Dennis J. Lester</h6>
                            <span>CEO & Founder</span>
                            <div class="ratting">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="author-text">Alignment refers to the practice of arranging visual elements on pages such as text, shapes, images, menu items, and CTA buttons foundation upon which designers gather</div>
                </div>
                <div class="testimonial-item-two">
                    <div class="author">
                        <div class="image">
                            <img src="{% static 'landing_page/assets/images/testimonials/testi-author2.png' %}" alt="Author">
                        </div>
                        <div class="content">
                            <h6>Rene A. Watkins</h6>
                            <span>Web Designer</span>
                            <div class="ratting">
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="author-text">Alignment refers to the practice of arranging visual elements on pages such as text, shapes, images, menu items, and CTA buttons foundation upon which designers gather</div>
                </div>
            </div>
        </div>
        <div class="testimonial-nine-shapes">
            <div class="shape one">
                <img src="{% static 'landing_page/assets/images/shapes/testimonial-left.png' %}" alt="Shape">
            </div>
            <div class="shape two">
                <img src="{% static 'landing_page/assets/images/shapes/testimonial-right.png' %}" alt="Shape">
            </div>
        </div>
    </section>
    <!-- Testimonials Area End -->


    <!-- CTA Area Start -->
    <section class="cta-nine-area py-130 rpy-100" style="background-image: url({% static 'landing_page/assets/images/backgrounds/bg-lines.png' %});">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10 text-center" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                    <div class="section-title mb-40">
                        <span class="subtitle-three mb-10">Get Started Us</span>
                        <h2>Get Ready to Grow your social networking?</h2>
                    </div>
                    <a href="contact.html" class="theme-btn style-two">Contact Us <i class="far fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- CTA Area End -->


    <!-- footer area start -->
    <footer class="main-footer footer-five text-black pt-100 rel z-1">
        <div class="container">
            <div class="for-middle-border pb-50">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-md-7">
                        <div class="footer-widget widget-about" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                            <div class="section-title">
                                <h2>Get Our Newsletters</h2>
                            </div>
                            <form action="#">
                                <div class="newsletter-form bgc-lighter">
                                    <input type="email" placeholder="Email Address" required="">
                                    <button type="submit"><b>Sign Up <i class="far fa-arrow-right"></i></b></button>
                                </div>
                                <div class="radio-part">
                                    <input id="update-news" type="radio">
                                    <label for="update-news">Get 7 days updates news & offers</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-widget widget-contact-info" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                            <h6 class="footer-title">Get In Touch</h6>
                            <ul>
                                <li><a href="mailto:info@example.com">info@example.com</a></li>
                                <li>55 main Street, 2nd block Melbourne, Australia</li>
                                <li><a href="tel:+00012345688">+000 (123) 456 88</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 ms-lg-auto">
                        <div class="footer-widget widget-links" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                            <h6 class="footer-title">Resources</h6>
                            <ul>
                                <li><a href="shop.html">Product</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="services.html">Benefits</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6">
                        <div class="footer-widget widget-links" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1500" data-aos-offset="50">
                            <h6 class="footer-title">Quick Link</h6>
                            <ul>
                                <li><a href="services.html">Features</a></li>
                                <li><a href="pricing.html">Pricing Plan</a></li>
                                <li><a href="about.html">Best Program</a></li>
                                <li><a href="contact.html">Press Kit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom py-15">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-6">
                        <div class="footer-bottom-logo mb-25 rmb-0 rmt-25 text-lg-start text-center" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="50">
                            <a href="index.html"><img src="{% static 'landing_page/assets/images/logos/logo6.png' %}" alt="Logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="copyright-text mb-25 pt-10 text-lg-end text-center" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50">
                            <p>Copyright @2026, <a href="index.html">Vynzora</a> All Rights Reserved</p>
                        </div>
                    </div>
                </div>
                <button class="scroll-top scroll-to-target" data-target="html"><span class="far fa-angle-double-up"></span></button>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

</div>
<!--End pagewrapper-->

<!-- Jquery -->
<script src="{% static 'landing_page/assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'landing_page/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'landing_page/assets/js/appear.min.js' %}"></script>
<script src="{% static 'landing_page/assets/js/slick.min.js' %}"></script>
<script src="{% static 'landing_page/assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'landing_page/assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'landing_page/assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'landing_page/assets/js/circle-progress.min.js' %}"></script>
<script src="{% static 'landing_page/assets/js/skill.bars.jquery.min.js' %}"></script>
<script src="{% static 'landing_page/assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'landing_page/assets/js/aos.js' %}"></script>
<script src="{% static 'landing_page/assets/js/script.js' %}"></script>

</body>
</html>